<template>
    <v-card
            class="mx-auto mt-1"
            max-width="344"
            v-if="cardInfo"
    >
        <v-card-text>
            <div>
                <a href="#">{{ cardInfo.title }}</a>
            </div>
            <div class="green lighten-1 text-center">
                <span>{{ cardInfo.norm }}</span>
            </div>
            <div v-if="cardInfo && cardInfo.status === 'error'" class="lime lighten-1 text-center">
                <span>{{ cardInfo.status }}</span>
            </div>
            <div v-else class="green lighten-3 text-center">
                <span>{{ cardInfo.status }}</span>
            </div>
            <div class="text--primary mt-6">
                {{ cardInfo.text }}
            </div>
        </v-card-text>
        <v-card-actions v-html="getAuthor"></v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: 'Card',
        props: {
            cardInfo: Object,
        },
        computed: {
            getAuthor() {
                const arrAuthor = this.cardInfo.author.split(',');
                let classAuthor = '';
                if (arrAuthor.length > 1) {
                    classAuthor = 'borderAuthor';
                } else {
                    classAuthor = 'deep-orange';
                }
                return arrAuthor.map(item => {
                    return `<span class="${classAuthor} accent-4 pa-2 mr-1">
                                ${item}
                            </span>`;
                }).join('');
            }
        }
    };
</script>

<style>
    .borderAuthor {
        border: 1px solid #ccc;
    }
</style>