<template>
    <v-content>
        <v-container class="grey lighten-5 h-doska">
            <v-row
                    class="mb-6"
                    no-gutters
            >
                <v-col
                        v-for="(title, key) of bd"
                        :key="key"
                >
                    <v-card
                            class="pa-2"
                            tile
                            outlined
                    >
                        <span>{{ title }} {{ getCounter(key) }}</span>
                        <draggable class="list-group" :list="listArr[key - 1]" group="people">
                            <div
                                    class="list-group-item"
                                    v-for="(element, index) in listArr[key - 1]"
                                    :key="element.norm"
                            >
                                <app-card :cardInfo="element" :key="index"></app-card>
                            </div>
                        </draggable>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-content>
</template>

<script>
    import draggable from 'vuedraggable';
    import Card from './Card';

    export default {
        name: 'Doska',
        props: {
            bd: Object,
            bdCard: Array,
        },
        components: {
            appCard: Card,
            draggable,
        },
        methods: {
            getCounter(id) {
                return this.bdCard[id - 1].length;
            },
        },
        data() {
            return {
                listArr: this.bdCard,
            };
        },
    };
</script>

<style scoped>
    .h-doska {
        height: 100%;
    }
</style>