<template>
    <v-app id="inspire">
        <v-app-bar
                app
                color="dark"
                dark
        >
            <v-toolbar-title>Board-test</v-toolbar-title>
        </v-app-bar>
        <app-doska :bd="BD" :bdCard="BD_Card"></app-doska>
        <v-footer
                color="dark"
                app
                dark
        >
            <span class="white--text">&copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
    import Doska from './components/Doska';
    import BD from './db/doska';
    import BD_Card from './db/card';

    export default {
        name: 'App',
        props: {
            source: String,
        },
        data: () => ({
            BD,
            BD_Card
        }),
        components: {
            appDoska: Doska,
        },
    };
</script>